{% extends "layout.html" %}

{% block title %}
Add Page
{% endblock %}

{% block active %}
active
{% endblock %}

{% block header %}
ADD A PAGE
{% endblock %}

{% block content %}
<form action='/add/submit' method='post'>
	<div class="form-group">
		<label for="pageTitle">PAGE TITLE</label>
		<input type="pageTitle" class="form-control" id="pageTitleInput" placeholder="Enter Page Title" name="title">
	</div>
	<div class="form-group">
		<label for="pageTitle">TAGS<br><small>Please separate tags with a comma (,)</small></label>
		<input type="pageTitle" class="form-control" id="pageTagsInput" placeholder="Enter Page Tags" name="tags">
	</div>
	<br>
	<div class="form-group">
		<label for="pageContent">PAGE CONTENT</label>
		<textarea class="form-control" id="pageContentInput" placeholder="Enter Page Content" name="body_content" rows="10"></textarea>
	</div>
	<input class="btn btn-primary" type="submit" value="Submit">
</form>
{% endblock %}
